<p>This is a form for <a routerLink="/user">
  {{userService.username}}</a></p>

<input type="text" placeholder="Enter the UserName" 
[(ngModel)]="newUserName"/>

<br/>
<label>
  mark1
</label>
<input type="number" [(ngModel)]="m1"/>

<br/>
<label>
  mark2
</label>
<input type="number" [(ngModel)]="m2"/>

<br/>
<label>
  mark3
</label>
<input type="number" [(ngModel)]="m3"/>

<br/>
<button (click)="sum()">calculate Total</button>

<br/>

<div *ngIf="result">
The result is {{result }}
</div>

<p>Result types</p>
<div *ngFor="let type of typesOfResult">
  {{type | lowercase}}
  </div>

  <p>Today is {{ currentDate }}</p>
  <p>Today is {{ currentDate  | date:"dd/MM/yy" }}</p>